In [228]:
import pandas as pd
import numpy as np
import os

In [ ]:
os.getcwd()

In [340]:
df = pd.read_csv('/Users/maxwelllee/Downloads/free-zipcode-database.csv')

In [341]:
df.head()

,RecordNumber,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Xaxis,Yaxis,Zaxis,WorldRegion,Country,LocationText,Location,Decommisioned
0,1,704,STANDARD,PARC PARQUE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Parc Parque, PR",NA-US-PR-PARC PARQUE,False
1,2,704,STANDARD,PASEO COSTA DEL SUR,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Paseo Costa Del Sur, PR",NA-US-PR-PASEO COSTA DEL SUR,False
2,3,704,STANDARD,SECT LANAUSSE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Sect Lanausse, PR",NA-US-PR-SECT LANAUSSE,False
3,4,704,STANDARD,URB EUGENE RICE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Urb Eugene Rice, PR",NA-US-PR-URB EUGENE RICE,False
4,5,704,STANDARD,URB GONZALEZ,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Urb Gonzalez, PR",NA-US-PR-URB GONZALEZ,False

In [342]:
# Limit dataframe to NY, NJ, PA and CT and drop extra columns

ny_metro_states = ['NY', 'NJ', 'PA', 'CT']
location_type = ['PRIMARY', 'ACCEPTABLE']
df = df[df.State.isin(ny_metro_states)]
df = df[df.LocationType.isin(location_type)]
df = df[['Zipcode', 'City', 'State']]
df.head()

     Zipcode            City State
114     7675        WESTWOOD    NJ
115     7675      OLD TAPPAN    NJ
116     7675      RIVER VALE    NJ
117     7675       RIVERVALE    NJ
118     7677  WOODCLIFF LAKE    NJ

In [ ]:
ny_metro_cities = [
    # Kings County, NY
      'A very long list of cities was here'
    # New York County, NY
    , 'MANHATTAN'
]

In [ ]:
pa_metro_cities = [
      'A very long list of cities was here'
]

In [ ]:
ct_metro_cities = [
    # Fairfield County, CT
      'A very long list of cities was here'
]

In [ ]:
nj_metro_cities = [
    # Bergen County, NJ
      'A very long list of cities was here' 
]

In [347]:
df = df[ 
    ((df.State == 'NY') & (df.City.isin(ny_metro_cities))) |
    ((df.State == 'NJ') & (df.City.isin(nj_metro_cities))) |
    ((df.State == 'PA') & (df.City.isin(pa_metro_cities))) |
    ((df.State == 'CT') & (df.City.isin(ct_metro_cities))) 
]

In [ ]:
df.drop_duplicates()

In [ ]:
# Adding back leading 0's that were dropped on import

for index, row in df.iterrows():
    temp = str(0) + str(df.loc[index, 'Zipcode'])
    if len(str(df.loc[index, 'Zipcode'])) == 4:
        print(temp)
        df.loc[index, 'Zipcode'] = temp

In [351]:
df.head()

    Zipcode            City State
114   07675        WESTWOOD    NJ
115   07675      OLD TAPPAN    NJ
116   07675      RIVER VALE    NJ
118   07677  WOODCLIFF LAKE    NJ
119   07677        WESTWOOD    NJ

In [355]:
df.to_csv('/Users/maxwelllee/Downloads/zipcode_lookup.csv', index = False)